/dist/
/extension/background.js
/extension/wasm.d.ts
/extension/wasm.js
/extension/wasm_bg.wasm
/extension/content.js
/extension/core.js
/extension/popup.js
/result
/result-debug
/release/
/signed/
/target/
.DS_Store
